build --jobs 128
build --cxxopt='-std=c++17'

build --copt=-fdiagnostics-color=always
run   --copt=-fdiagnostics-color=always

# Dependencies locking
sync  --experimental_repository_resolved_file=resolved.bzl
build --experimental_resolved_file_instead_of_workspace=resolved.bzl
build --experimental_repository_hash_file=resolved.bzl
build --experimental_verify_repository_rules=@bazel_tools//tools/build_defs/repo:git.bzl%git_repository
